@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <br />
    <br />

    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Expenses">Genel Durum</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="CreateEditExpense">Yeni Gider Ekle</a>
</div>
